In this notebook file, we perform data cleaning for `hawaii_stations.csv` dataset.

In [1]:
# import dependecies
import os, inspect, sys
import numpy as np
import pandas as pd

## Get project root directory

In [2]:
CURR_FILE = inspect.getabsfile(inspect.currentframe())
CURR_DIR = os.path.dirname(CURR_FILE)
ROOT_DIR = os.path.dirname(CURR_DIR)
sys.path.insert(0, ROOT_DIR)

## Load data

We start by loading data from CSV files using pandas library:

In [3]:
# Read CVS source files
path = os.path.join(ROOT_DIR, "surfpy", "data", "raw")
name = "hawaii_stations.csv"
filename = os.path.join(path, name)
df_stations = pd.read_csv(filename)

name = "hawaii_measurements.csv"
filename = os.path.join(path, name)
df_measurements = pd.read_csv(filename)

## Look at data structure

Once the data has been loaded, we look at the basic structure of the data using the `head()` command to print out the first five rows. By this, we can get a general idea of the structure of data and data columns:

In [4]:
print(df_stations.shape)
df_stations.head(10)

(9, 5)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

Now, we see the stations data has five columns that all are in lowercase. There are no redundant columns and everything looks fine.

In [5]:
print(df_measurements.shape)
df_measurements.head(100)

(19550, 4)

        station        date  prcp  tobs
0   USC00519397  2010-01-01  0.08    65
1   USC00519397  2010-01-02  0.00    63
2   USC00519397  2010-01-03  0.00    74
3   USC00519397  2010-01-04  0.00    76
4   USC00519397  2010-01-06   NaN    73
5   USC00519397  2010-01-07  0.06    70
6   USC00519397  2010-01-08  0.00    64
7   USC00519397  2010-01-09  0.00    68
8   USC00519397  2010-01-10  0.00    73
9   USC00519397  2010-01-11  0.01    64
10  USC00519397  2010-01-12  0.00    61
11  USC00519397  2010-01-14  0.00    66
12  USC00519397  2010-01-15  0.00    65
13  USC00519397  2010-01-16  0.00    68
14  USC00519397  2010-01-17  0.00    64
15  USC00519397  2010-01-18  0.00    72
16  USC00519397  2010-01-19  0.00    66
17  USC00519397  2010-01-20  0.00    66
18  USC00519397  2010-01-21  0.00    69
19  USC00519397  2010-01-22  0.00    67
20  USC00519397  2010-01-23  0.00    67
21  USC00519397  2010-01-24  0.01    71
22  USC00519397  2010-01-25  0.00    67
23  USC00519397  2010-01-26  0.04    76
24  USC00519397  2010-01-27  0.12    68
25  USC00519397  2010-01-28  0.00    72
26  USC00519397  2010-01-30   NaN    70
27  USC00519397  2010-01-31  0.03    67
28  USC00519397  2010-02-01  0.01    66
29  USC00519397  2010-02-03   NaN    67
..          ...         ...   ...   ...
70  USC00519397  2010-03-23  0.00    68
71  USC00519397  2010-03-24  0.00    74
72  USC00519397  2010-03-26   NaN    72
73  USC00519397  2010-03-27  0.00    72
74  USC00519397  2010-03-28  0.00    73
75  USC00519397  2010-03-29  0.00    74
76  USC00519397  2010-03-30  0.00    73
77  USC00519397  2010-03-31  0.00    73
78  USC00519397  2010-04-01  0.00    74
79  USC00519397  2010-04-02  0.01    74
80  USC00519397  2010-04-03  0.17    74
81  USC00519397  2010-04-04  0.15    71
82  USC00519397  2010-04-05  0.27    72
83  USC00519397  2010-04-06  0.01    75
84  USC00519397  2010-04-08  0.00    75
85  USC00519397  2010-04-09  0.01    75
86  USC00519397  2010-04-10  0.00    75
87  USC00519397  2010-04-11  0.01    73
88  USC00519397  2010-04-12  0.01    73
89  USC00519397  2010-04-13  0.00    71
90  USC00519397  2010-04-15  0.00    71
91  USC00519397  2010-04-16  0.01    68
92  USC00519397  2010-04-17  0.00    70
93  USC00519397  2010-04-18  0.00    71
94  USC00519397  2010-04-19  0.00    74
95  USC00519397  2010-04-20  0.04    71
96  USC00519397  2010-04-21  0.01    75
97  USC00519397  2010-04-22  0.00    76
98  USC00519397  2010-04-23  0.02    75
99  USC00519397  2010-04-24  0.00    75

[100 rows x 4 columns]

The measurements data has three columns, all in lower case. Here are no redundant columns either.


## Make copy of data

Once we loaded data, we mak a copy of the data frames first. This allows us to modify data freely while we always have the original data for any further reference.

In [6]:
df_stations_clean = df_stations.copy()
df_measurements_clean = df_measurements.copy()

## Check on missing values:
 
We start off data cleaning by investigating for misssing values. The missing (null) values is on of the most common issue with raw data where in pandas terminology are basicaly referred by `NaN` values. The missing values can be related to when an entry in data is not filled properly, the data entry is not available or there is a computaional error. 

We can simply look at `NaN` values in pandas data frame by `isnull()` method:

In [7]:
df_stations_clean.isnull().values.any()

False

In [8]:
df_measurements_clean.isnull().values.any()

True

These show that stations data contains no `NaN` values but measurements data comes with `NaN` values.
Then, count the `NaN` values in the measurement data by column:

In [9]:
n_rows_with_nan = df_measurements_clean.isnull().sum()
n_rows_with_nan

station       0
date          0
prcp       1447
tobs          0
dtype: int64

This shows that the third column (`prcp`) is the only column that contains `NaN` values. So, compute what percentage of columns contain `NaN` values:

In [10]:
n_rows = df_measurements_clean.shape[0]
nan_percentage = n_rows_with_nan.values / n_rows * 100
nan_percentage

array([0.        , 0.        , 7.40153453, 0.        ])

Then, about 7.4 % of `prcp` entries have `NaN` values.

Remove the rows with any `NaN` values:

In [11]:
df_measurements_clean.dropna(inplace=True)

## Check on data types
Check on the the data types, and see if the numeric values have been loaded with the correct data types:

In [12]:
df_stations_clean.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [13]:
df_measurements_clean.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

## Parse dates
The data type of date column in original measurements data is "object" which basically is `str`. 
Convert the data types of `dates` to pandas `datetime64` 
This makes Python/Pandas to identify `dates` as date/time object and in turn enables to extract the day, month or year without a need to string-like parsing.

In [14]:
df_measurements_clean.date = pd.DataFrame(pd.to_datetime(df_measurements_clean.date, format="%Y-%m-%d"))

## Change casing

All values in DataFrames are in upper-case. There is no need to modify casings.

## Reset the index of DataFrame

In [15]:
df_stations_clean.reset_index(inplace=True, drop=True)
df_measurements_clean.reset_index(inplace=True, drop=True)

## Save cleaned data

In [16]:
# Read CVS source files
path = os.path.join(ROOT_DIR, "surfpy", "data", "int")

name = "clean_hawaii_stations.csv"
filename = os.path.join(path, name)
df_stations_clean.to_csv(filename, encoding="utf-8", index=False)

name = "clean_hawaii_measurements.csv"
filename = os.path.join(path, name)
df_measurements_clean.to_csv(filename, encoding="utf-8", index=False)

In [17]:
df_measurements["station"].value_counts()

USC00519281    2772
USC00519397    2724
USC00513117    2709
USC00519523    2669
USC00516128    2612
USC00514830    2202
USC00511918    1979
USC00517948    1372
USC00518838     511
Name: station, dtype: int64

In [18]:
df_measurements_clean["station"].value_counts()

USC00519281    2772
USC00513117    2696
USC00519397    2685
USC00519523    2572
USC00516128    2484
USC00514830    1937
USC00511918    1932
USC00517948     683
USC00518838     342
Name: station, dtype: int64

In [19]:
gdf = df_measurements_clean.groupby("station")
gdf.count()

             date  prcp  tobs
station
USC00511918  1932  1932  1932
USC00513117  2696  2696  2696
USC00514830  1937  1937  1937
USC00516128  2484  2484  2484
USC00517948   683   683   683
USC00518838   342   342   342
USC00519281  2772  2772  2772
USC00519397  2685  2685  2685
USC00519523  2572  2572  2572